{% extends 'knp_menu_base.html.twig' %}

{% import "knp_menu.html.twig" as macros %}

{% block compressed_root %}
    {% spaceless %}
        {{ block('root') }}
    {% endspaceless %}
{% endblock %} {# end block compressed_root#}

{% block root %}
    {% set menuNumber = item.children|length %}
    {% set listAttributes = item.childrenAttributes %}
    {{ block('container') }}

{% endblock %} {# end block root#}

{% block container %}
    <div id="container">
        {{ block('hexagons') }}
    </div>
{% endblock %} {# end block container#}

{%  block hexagons %}
    {# save current variables #}
    {% set currentOptions = options %}
    {% set currentItem = item %}

    {% for item in currentItem.children %}
        {{ block('hexagon') }}
    {% endfor %}

    {# restore current variables #}
    {% set item = currentItem %}
    {% set options = currentOptions %}

{% endblock %} {# end block hexagons#}

{% block hexagon %}
    {% if item.displayed %}
        {% set classes = ['hex']|merge(item.attribute('class') is not empty ? [item.attribute('class')] : []) %}
        {% set ids = item.attribute('id') is not empty ? [item.attribute('id')] : []%}

        <div class="{{ classes|join(' ') }}" id="{{ ids|join(' ') }}">
            <div class="inner">
                {% if item.attribute('icon') is not empty %}
                    {{ block('icon') }}
                {% endif %}
                {% if item.name is not empty %}
                    {{ block('title') }}
                {% endif %}
                {% if item.attribute('desc') is not empty %}
                    {% if item.name is not empty %}
                        {{ block('horizontal_separator') }}
                    {% endif %}
                    {{ block('desc') }}
                {% endif %}
            </div>
            {% if item.uri is not empty %}
                <a href="{{ item.uri }}"></a>
            {% endif %}
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>
    {% endif %} {# enf if item.displayed #}
{% endblock %} {# end block hexagon#}

{% block icon %}
    {% set icon_classes = ['fa']|merge(item.attribute('icon') is not empty ? [item.attribute('icon')] : []) %}
    <span class="icon">
        <i class="{{ icon_classes|join(" ") }}"></i>
    </span>
{% endblock %}{# end block icon #}

{% block title %}
    <h4>{{ item.name }}</h4>
{% endblock %}{# end block icon #}

{% block horizontal_separator %}
    <hr>
{% endblock %}{# end block icon #}

{% block desc %}
    <p>{{ item.attribute('desc') }}</p>
{% endblock %}{# end block icon #}